.box {
    border: 1px solid rgba(0, 204, 204, 0.7);
    background: rgba(0, 102, 102, 0.7);
}
.box__title {
    padding: 0.25rem 1rem;
    margin: 0;
    border-bottom: 1px solid rgba(0, 204, 204, 1);
    font-weight: 200;
    font-size: 18px;
}
.box__content {
    padding: 1rem;
}